* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  display: inline;
  background: #f8f8f8;
  height: 100%;
  justify-content: center;
}

.leftMenu {
  float: left;
  width:20%;
	height:800px;
  padding: 4px;
	background-color:#FFEFDF;
}

.leftMenu button {
	border: none;
  background-color: #FFEFDF;
}

.rightMenu {
  float: right;
  width: 30%;
  height: 800px;
  background-color: #FFEFDF;
  padding: 30px;
}

.profilePicture {
  width: 100px;
  height: 100px;
}

.profilePicture img {
  height: 100%;
  width: 100%;
}

.patient {
  display: flex;
  position: relative;
}

.profileInfo {

}

.container {
  display: inline-flex;
  flex-direction: column;
  width: 540px;
  height: 750px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.0);
  width:50%;
	background-color:#fff;
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.messages-scroller {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: scroll;
}

.message {
  align-self: flex-start;
  margin-top: 4px;
  padding: 8px 12px;
  max-width: 240px;
  background: #f1f0f0;
  border-radius: 16px;
  font-size: 14px;
}

.message.me {
  align-self: flex-end;
  background: #f19e38;
  color: white;
}

.chat-bar {
  height: 64px;
}

.responseOptions {
  border-top: 1px solid #ddd;
}

.chat-bar form {
  height: 100%;
  padding: 16px;
}

.chat-bar form input {
  width: 100%;
  height: 32px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 16px;
  outline: none;
}

.chat-bar form input:focus {
  border: 1px solid #f19e38;
}

.responseOptions form input {
  border-radius: 16px;
  margin: 2px;
}

/* Text styles */
/* h1 - This includes the main page header */
h1 {
	font-family: "Signika", sans-serif;
	font-size: 32px;
	color:#FDFBFD;
}

/* h2 - This includes people's names in the left sidebar */
h2 {
	font-family:"Signika", sans-serif;
	font-size:28px;
	color:#7F7979;
}

h3 {
	font-family: "Signika", sans-serif;
	font-size:20px;
	color:#7F7979;
}

#header {
	width:100%;
	height:80px;
	position:relative;
	float:left;
	text-align:center;
	background-color:#34D1BF;
}

#chatTitle {
	width:100%;
	height:50px;
	padding:15px;
	text-align:center;
  font-family:"Signika", sans-serif;
	font-size:20px;
	color:#7F7979;
}

#OK {
  border: none;
  padding: 8px;
  font-size: 18px;
  font-family: "Signika", sans-serif;
  background-color: #7aff9f;
}

#inPerson {
  border: none;
  padding: 8px;
  font-size: 18px;
  font-family: "Signika", sans-serif;
  background-color: #faf370;
}

#checkAgain {
  border: none;
  padding: 8px;
  font-size: 18px;
  font-family: "Signika", sans-serif;
  background-color: #7eeefc;
}

.profileInfo {
  font-family: "Signika", sans-serif;
  color: #3f3c3c;
  font-size: 20px;
}

.profileHeading {
  font-weight: bold;
}
